.search-wrapper {
  width: 95%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;

  margin-top: 5rem;
}

.input-wrapper input {
  width: 100%;

  margin-right: 10px;
  text-align: center;
}

.input-wrapper .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);

  padding: 0.5rem;

  cursor: pointer;
}

.input-wrapper .arrow img {
  width: 40px;
}

main.enlist > .search-wrapper > .page-subtitle {
  animation-delay: 0.2s;
}

main.enlist > .search-wrapper > .input-wrapper {
  animation-delay: 0.4s;
}

.search-results-wrapper {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-results-wrapper > img {
  transform: rotate(180deg);

  width: 35px;

  margin-bottom: 1rem;

  cursor: pointer;
}

.search-results-wrapper > p {
  font-weight: 400;
  font-size: 2.2rem;

  margin-bottom: 2rem;
}
.search-results-wrapper > p > span {
  font-weight: 300;
  font-size: 2rem;
}

.search-results {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 300px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 1rem;
  padding-bottom: 5rem;
}

.search-results::-webkit-scrollbar {
  height: 4px;
}

.search-results::-webkit-scrollbar-track {
  color: rgba(255, 255, 255, 0.4);
}

.search-results::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
}

.search-results > .movie-poster {
  min-width: 200px;
  max-width: 200px;

  margin-right: 2rem;
}

.search-results.loading > .movie-poster {
  visibility: hidden;
  position: absolute;
}

.search-results.loading {
  position: relative;
}
.search-results.loading > .loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
