*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Lexend", sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(177.24deg, #1f1e1e 2.26%, #0c0b0b 89.57%);
  background-size: 100%;
  background-repeat: no-repeat;

  min-height: 100vh;
  overflow-y: auto;
}

a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
